:root {
    --font-family: 'Comfortaa', sans-serif;

    --background-color-body: #F3F6FD;
    --color-dark: #000;
    --color-accent: #5051f9;
    --color-light: #fff;

    --border-radius-large: 14px;

    --box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
}